extends layout

block content
    h1= title
    p Welcome to #{title}
    form(method="POST",action="/crear/ciudad")
        label(for="nombre") Nombre
        input(type="text",name="nombre")
        br
        input(type="submit",value="Crear ciudad")
