extends layout

block content
    h1= title
    p Welcome to #{title}

    form(method="POST",action="/crear/cine")
        label(for="nombre") Nombre
        input(type="text",name="nombre")
        br
        label(for="direccion") Direccion
        input(type="text",name="direccion")
        br
        label(for="telefono") Telefono
        input(type="text",name="telefono")
        br
        label(for="ciudad") Ciudad
        input(type="text",name="ciudad")
        br
        label(for="url") Url
        input(type="text",name="url")
        br
        label(for="logo") Logo
        input(type="text",name="logo")
        br

        input(type="submit",value="Crear cine")
